<div class="login-container">
  <mat-icon class="icon-back" (click)="tornaHome()">arrow_back</mat-icon>

  <h2>Login</h2>
  <form (submit)="onLogin()">
    <input type="email" [(ngModel)]="email" name="email" required placeholder="Email" />
    <div class="password-field">
      <input [type]="mostraPassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required placeholder="Password" />
      <mat-icon class="toggle-password" (click)="mostraPassword = !mostraPassword">
        {{ mostraPassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </div>

    <p *ngIf="error" class="error-message">{{ error }}</p>
    <button type="submit">Login</button>
  </form>

  <div class="register-section">
    <p>oppure</p>
    <button type="button" (click)="vaiARegister()">Registrati</button>
  </div>
</div>
