html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* invece di min-height */
  overflow-x: hidden; /* blocca la scrollbar orizzontale */
}

body {
  background-image: url('assets/sfondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


/* overlay semi-trasparente */
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.80) 35%,  /* più opaco e leggermente più stretto */
    rgba(255, 255, 255, 0.35) 60%,  /* sfumatura morbida */
    rgba(255, 255, 255, 0) 80%
  );
  pointer-events: none;
  z-index: 1;
}


body > * {
  position: relative;
  z-index: 2;
}
