<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-container">
  <h2>Registrati</h2>
  <mat-icon class="icon-back" (click)="vaiAlLogin()">arrow_back</mat-icon>

  <!-- Email -->
  <div>
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="errore">
      <span *ngIf="registerForm.get('email')?.errors?.['required']">Email obbligatoria</span>
      <span *ngIf="registerForm.get('email')?.errors?.['email']">Email non valida</span>
    </div>
  </div>

  <!-- Password -->
  <div>
    <label for="password">Password:</label>
      <div class="password-field">
        <input
          id="password"
          [type]="mostraPassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Password"
        />
        <mat-icon class="toggle-password" (click)="mostraPassword = !mostraPassword">
          {{ mostraPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
    </div>
    
    <div
      class="info-password"
      [class.errore]="
        registerForm.get('password')?.invalid &&
        (submitted || registerForm.get('password')?.touched)
      "
      [class.valido]="
        registerForm.get('password')?.valid &&
        registerForm.get('password')?.value?.length >= 8
      "
    >
      La password deve contenere almeno 8 caratteri
      <span *ngIf="registerForm.get('password')?.value?.length">
        (attuali: {{ registerForm.get('password')?.value.length }})
      </span>
    </div>
  </div>

  <div *ngIf="errorMessage" class="errore">
    {{ errorMessage }}
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Registrati</button>
</form>
