<div class="container-articolo" *ngIf="articolo">
  <h2>{{ articolo.titolo }}</h2>
  <h4>{{ articolo.sottotitolo }}</h4>
  <p>{{ articolo.testo }}</p>

  <div class="btn-row">
    <button class="btn-generico btn-home" (click)="tornaHome()">
      <mat-icon>home</mat-icon> Torna alla Home
    </button>

    <button class="btn-generico btn-salva" (click)="salvaArticolo()">
      <mat-icon>save</mat-icon> Salva Articolo
    </button>
    
  </div>

  <!-- Messaggi di errore -->
  <p class="errore" *ngIf="errore">{{ errore }}</p>
</div>

<!-- Popup per salvataggio -->
<div class="modal-overlay" *ngIf="mostraAccessoRichiesto">
  <div class="modal-content">
    <h3>Accesso richiesto</h3>
    <p>Per salvare l'articolo devi effettuare l'accesso o registrarti.</p>
    <div class="modal-actions">
      <button class="modal-btn-login" (click)="vaiAlLogin()">Login</button>
      <button class="modal-btn-register" (click)="vaiARegistrazione()">Registrati</button>
    </div>
  </div>
</div>

<!-- Popup successo salvataggio -->
<div class="modal-overlay" *ngIf="messaggio">
  <div class="modal-content modal-success">
    <h3>Salvataggio completato!</h3>
    <p>{{ messaggio }}</p>
    <div class="modal-actions">
      <button class="modal-btn-ok" (click)="chiudiMessaggio()">OK</button>
    </div>
  </div>
</div>


<!-- Popup uscita senza salvare -->
<div class="modal-overlay" *ngIf="mostraConfermaUscita">
  <div class="modal-content modal-confirm">
    <h3>Sei sicuro?</h3>
    <p>Non hai salvato l'articolo. Vuoi davvero tornare alla Home?</p>
    <div class="modal-actions">
      <button class="modal-btn-conferma" (click)="tornaHomeConfermata()">✅Torna Home</button>
      <button class="modal-btn-nega" (click)="mostraConfermaUscita = false">❌Annulla</button>
    </div>
  </div>
</div>