<div class="container-modifica" *ngIf="notizia">
  <mat-icon class="icon-back" (click)="tornaIndietro()">arrow_back</mat-icon>
  <h2>Modifica Notizia</h2>

  <label>Titolo</label>
  <input [(ngModel)]="notizia.titolo" class="input-elegante input-titolo" />

  <label>Sottotitolo</label>
  <input [(ngModel)]="notizia.sottotitolo" class="input-elegante" />

  <label>Testo</label>
  <textarea [(ngModel)]="notizia.testo" class="input-elegante" rows="6"></textarea>

  <div class="azioni-form">
    <button class="btn-salva" (click)="salvaModifiche()">
      <mat-icon>save</mat-icon> Salva
    </button>
  </div>

  <p class="errore" *ngIf="errore">{{ errore }}</p>
</div>
